{% extends "base/base.html" %}

{% block title %}Edit Video{% endblock %}

{% block content_header %}Edit Video{% endblock %}


{% block content %}
<div class="container">
    <div class="card">
        <div class="card-header">
            Video Details
        </div>
        <div class="card-body p-4">
            <form method="POST">
                <div class="form-group">
                    <label for="id">Id:</label>
                    <input type="text" class="form-control mb-3" id="id" name="id" value="{{ video.id }}" disabled>
                </div>

                <div class="form-group">
                    <label for="title">Title:</label>
                    <input type="text" class="form-control mb-3" id="title" name="title" value="{{ video.title }}">
                </div>

                <div class="form-group">
                    <label for="description">Description:</label>
                    <textarea class="form-control mb-3" id="description" rows="3"
                        name="description">{{ video.description }}</textarea>
                </div>

                <div class="form-group">
                    <label for="url">URL:</label>
                    <input type="text" class="form-control mb-3" id="url" name="url" value="{{ video.url }}">
                </div>

                <div class="form-group">
                    <label for="owner_id">Owner Id:</label>
                    <input type="text" class="form-control mb-3" id="owner_id" name="owner_id"
                        value="{{ video.owner_id }}" disabled>
                </div>

                <div class="d-flex justify-content-end mt-3">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}
