<nav
    class="navbar navbar-expand-lg navbar-dark {% if current_user.is_superuser %}{% if ENV_NAME == "production" %}bg-admin{% else %}bg-admin-dev{% endif %}{% else %}{% if ENV_NAME == "production" %}bg-user{% else %}bg-user-dev{% endif %}{% endif %}">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">{{ PROJECT_NAME }}{% if ENV_NAME != "production" %} ({{ ENV_NAME }}){% endif
            %}{% if current_user.is_superuser %} - ADMIN{% endif %}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <!-- Home -->
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>

                <!-- Subscription Dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Subscriptions
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/subscription/create">New Subscription</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/subscriptions">My Subscriptions</a></li>

                    </ul>
                </li>

                <!-- Filters Dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Filters
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/filter/create">New Filter</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/filters">My Filters</a></li>
                    </ul>
                </li>

                <!-- Playlists Dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Playlists
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/playlist/create">New Playlist</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/playlists">My Playlist</a></li>

                    </ul>
                </li>

                <!-- Channels Dropdown -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Channels
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/channels">All Channels</a></li>
                    </ul>
                </li>

            </ul>


            <ul class="navbar-nav ml-auto navbar-right">
                <li class="nav-item">
                    <a class="nav-link" href="/account">
                        <i class="fa fa-user"></i> Account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">
                        <i class="fa fa-sign-out-alt"></i> Log Out</a>
                </li>
            </ul>


        </div>

    </div>
</nav>
