### ENVIRONMENT SETTINGS ###
ENV_NAME = "dev"
DEBUG=True

# LOG
LOG_LEVEL = "DEBUG"

# DATABASE
DATABASE_ECHO = False

# SERVER
SERVER_HOST = "0.0.0.0"
SERVER_PORT = 5000
BASE_DOMAIN = "localhost:5000"
BASE_URL = "http://localhost:5000"
PROXY_HOST = "127.0.0.1"
UVICORN_RELOAD = True
UVICORN_ENTRYPOINT = "********************.core.app:app"

# API
API_V1_PREFIX="/api/v1"
JWT_ACCESS_SECRET_KEY = "****************************************"
JWT_REFRESH_SECRET_KEY = "****************************************"
ACCESS_TOKEN_EXPIRE_MINUTES = 30     # 30 minutes
REFRESH_TOKEN_EXPIRE_MINUTES = 10080 # 7 days
ALGORITHM = "HS256"

# EMAILS
SMTP_TLS=True
SMTP_PORT=587
SMTP_HOST=
SMTP_USER=
SMTP_PASSWORD=
EMAILS_FROM_EMAIL="****************************************"
EMAILS_FROM_NAME="****************************************"
NOTIFY_EMAIL_TO="****************************************"

EMAIL_RESET_TOKEN_EXPIRE_HOURS=48
EMAILS_ENABLED=False

# Users
EMAIL_TEST_USER="test@example.com"
FIRST_SUPERUSER_USERNAME="****************************************"
FIRST_SUPERUSER_EMAIL="****************************************"
FIRST_SUPERUSER_PASSWORD="****************************************"
USERS_OPEN_REGISTRATION=False

# NOTIFY
TELEGRAM_API_TOKEN = "****************************************"
TELEGRAM_CHAT_ID = 0
NOTIFY_ON_START = True

### PROJECT SETTINGS ###
PROJECT_NAME="****************************************"
PROJECT_DESCRIPTION="****************************************"
