/* Theme Colors */
.bg-user {
    background-color: rgb(0, 109, 128) !important;
}

.bg-user-dev {
    background-color: rgb(0, 111, 20) !important;
}

.bg-admin {
    background-color: rgb(73, 0, 128) !important;
}

.bg-admin-dev {
    background-color: rgb(58, 0, 0) !important;
}

/* Default styles */
.container-fluid {
    max-width: 768px;
    margin: 0 auto;
}

/* Medium screen (tablets, 768px and up) */
@media (min-width: 768px) {
    .container-fluid {
        max-width: 720px;
    }
}

/* Large screens (desktops, 992px and up) */
@media (min-width: 992px) {
    .container-fluid {
        max-width: 960px;
    }
}

/* Extra large screens (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .container-fluid {
        max-width: 1140px;
    }
}


html,
body {
    height: 100%;
}

.d-flex.flex-column {
    min-height: 100%;
}

.container-fluid.mt-3.mb-5 {
    flex: 1;
}
