{% extends "base/base.html" %}

{% block title %} Filters ({{ filters|length }}){% endblock %}

{% block content %}
<!-- Header -->
<div>
    <div class="row align-items-center mb-3">

        <!-- Title -->
        <h4 class="col-auto py-1">
            Filters ({{ filters|length }})
        </h4>

        <!-- Menu -->
        <div class="col-auto small p-1 ms-auto">
            <a href="/filter/create" class="text-decoration-none text-muted me-3">
                <i class="fas fa-pencil-alt me-2"></i>
                Add Filter
            </a>
            <a href="/filters/fetch" class="text-decoration-none text-muted me-3"><i
                    class="fas fa-arrow-circle-right me-2"></i>Fetch All</a>
        </div>

    </div>
</div>


<!-- Pinned Filters -->
{% for filter_type in [pinned_filters, filters, read_filters] %}
{% if filter_type == pinned_filters %}
{% set filter_type_title = "Pinned Filters"%}
{% elif filter_type == filters %}
{% set filter_type_title = "Filters"%}
{% else %}
{% set filter_type_title = "Read Filters"%}
{% endif %}
<div class="container mt-5 pt-1">
    <table class="table table-hover table-sm">
        <thead>
            <tr>
                <th scope="col" class="w-100">{{ filter_type_title }}</th>
                <th scope="col" class="w-auto"></th>
            </tr>
        </thead>
        <tbody>

            {% for filter_ in filter_type %}
            {% set color_classes = "text-muted" if filters_unread_count[filter_.id] == 0 else "" %}
            <tr class="py-3">

                <!-- Filter Name & Unread Count -->
                <td class="py-4">
                    <a href="/filter/{{ filter_.id }}" class="text-decoration-none text-white">
                        <h5 class="mb-0 text-smaller {{ color_classes }}">
                            {{ filter_.name }} ({{ filters_unread_count[filter_.id] }})
                        </h5>
                    </a>
                </td>

                <!-- Dropdown Menu -->
                <td class="">
                    <div class="dropdown">

                        <!-- Vertical Ellipsis Icon -->
                        <a href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <i class="fas fa-ellipsis-v text-muted py-4 px-3"></i>
                        </a>

                        <!-- Menu -->
                        <ul class="dropdown-menu p-3 border border-secondary" aria-labelledby="dropdownMenuLink">

                            <li><a class="dropdown-item p-2" href="/filter/{{ filter_.id }}/edit">Edit</a></li>

                            <li><a class="dropdown-item p-2" href="/filter/{{ filter_.id }}/fetch">Fetch Videos</a></li>

                            <hr class="dropdown-divider">

                            <li><a class="dropdown-item p-2" href="#" onclick="confirmDelete('/filter/{{ filter_.id }}/delete')">Delete</a></li>

                        </ul>
                    </div>
                </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endfor %}


<script>
    function confirmDelete(url) {
        if (confirm("Are you sure you want to delete this filter?")) {
            window.location.href = url;
        }
    }
</script>
{% endblock %}
