{% extends "base/base.html" %}

{% block title %}Edit Playlist{% endblock %}


{% block content %}
<!-- Header -->
<div>
    <div class="row align-items-center">
        <h4 class="col-auto py-1">
            <a href="/playlist/{{ playlist.id }}" class="text-decoration-none text-white">
                {{ playlist.name }}
                <span class="small mx-1"> <i class="fas fa-external-link-alt fa-sm small"></i>
                </span>
            </a>
        </h4>
        <div class="col-auto small p-1 ms-auto">
            <a href="/playlist/{{ playlist.id }}" class="text-decoration-none text-muted me-3"><i
                    class="fas fa-pencil-alt me-2"></i>View</a>
            <a href="#" class="text-decoration-none text-muted me-3"
                onclick="confirmDelete('/playlist/{{ playlist.id }}/delete', '{{ playlist.name }}')"><i
                    class="fas fa-trash me-2"></i>
                Delete</a>
        </div>
    </div>
</div>

<div class="container">
    <div class="card">
        <div class="card-header">
            Playlist Details
        </div>
        <div class="card-body p-4">
            <!-- Form -->
            <form method="POST">

                <!-- Name -->
                <div class="form-group my-2">
                    <label for="name">Playlist Name:</label>
                    <input type="text" class="form-control mb-3" id="name" name="name" value="{{ playlist.name }}">
                </div>

                <!-- Submit -->
                <div class="d-flex justify-content-end mt-3">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>

            </form>
        </div>
    </div>
</div>

{% endblock content %}
