{% extends "base/base.html" %}

{% block title %}{{ playlist.name }}{% endblock %}


{% block content %}

<!-- Header -->
<div>
    <div class="row align-items-center">
        <h4 class="col-auto py-1">
            {{ playlist.name }}
        </h4>
        <div class="col-auto small p-1 ms-auto">

            <a href="/playlist/{{ playlist.id }}/edit" class="text-decoration-none text-muted me-3">
                <i class="fas fa-pencil-alt me-2"></i>
                Edit
            </a>

            <a href="/playlist/{{ playlist.id }}/delete" class="text-decoration-none text-muted me-3"">
                <i class="fas fa-trash me-2"></i>
                Delete
            </a>

            <a href="{{ playlist.feed_url }}" class="text-decoration-none text-muted me-3">
                <i class="fas fa-rss me-2"></i>
                Feed
            </a>

            <a href="pktc://subscribe/{{ BASE_DOMAIN }}{{ playlist.id }}" class="text-decoration-none text-muted me-3">
                <i class="fas fa-plus-circle me-2"></i>
                PocketCast
            </a>

        </div>
    </div>
</div>


<!-- List Playlist Items -->
<div class="container py-3 px-0">

    <!-- Header -->
    <div class="small fw-bold w-auto d-flex justify-content-start">
        Playlist Items ({{ playlist.playlist_items |length }})
        {# Videos ({{ source.videos_sorted()|length }}) #}
    </div>


    <!-- Videos List -->
    {% for item in playlist.playlist_items %}
    <div class="row border-top py-1">
        <div class="d-flex align-items-top">

            <!-- Thumbnail -->
            <div class="me-3 d-flex align-items-center">
                <img src="{{ item.thumbnail }}" class="cropped-image" alt="" height="90" width="125">
            </div>

            <!-- Details -->
            <div class="col">

                <div class="col-12 small text-muted fw-bold">{{ item.created_at.strftime('%d %b %Y') | upper }}
                    <small><em>({{ item.created_at | humanize }})</em></small>
                </div>

                <!-- Title -->
                <h5 class="mb-0">
                    <a href="#" class="text-decoration-none text-muted">
                        {{ item.title }}
                    </a>
                </h5>

            </div>

            <!-- Dropdown Menu -->
            <div class="col-auto ps-0">
                <div class="dropdown">

                    <!-- Vertical Ellipsis -->
                    <a href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-ellipsis-v text-muted py-3 px-3"></i>
                    </a>

                    <!-- Menu -->
                    <ul class="dropdown-menu p-3 border border-secondary" aria-labelledby="dropdownMenuLink">

                        <li>
                            <a class="dropdown-item p-3 text-white" href="/playlist/{{ playlist.id }}/playlist_item/{{ item.id }}/delete">
                                Delete
                            </a>
                        </li>

                        <!-- Modal Ellipsis Button -->
                        <li data-bs-target="#videoModal-{{ item.id }}" data-bs-toggle="modal">
                            <a href="#" class="dropdown-item p-3 text-white" role="button" data-bs-target="#videoModal-{{ item.id }}" data-bs-toggle="modal">
                                Add to Playlist
                            </a>
                        </li>



                    </ul>

                </div>
            </div>

        </div>
    </div>

    <!-- Video Modal -->
    <div class="modal fade" id="videoModal-{{ item.id }}" tabindex="-1" aria-labelledby="videoModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <!-- Modal Hedaer -->
                <div class="modal-header">
                    <h5 class="modal-title small" id="videoModalLabel">Video</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <!-- Modal Body -->
                <div class="modal-body">

                    <!-- Add to Playlists -->
                    {% for playlist in playlists %}
                    {% set text_color = 'text-primary' if "Listen" in playlist.name else 'text-white' %}
                    <a class="dropdown-item p-4 border-bottom {{ text_color }} add-to-playlist-link" href="#"
                        data-playlist-id="{{ playlist.id }}" data-video-url="{{ item.url }}"
                        data-video-thumbnail="{{ item.thumbnail }}" data-video-duration="{{ item.duration }}"
                        data-video-title="{{ item.title }}">
                        {{ playlist.name.replace("TS - ", "") }}
                    </a>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>

    {% endfor %}
</div>

<!-- Include Font Awesome for the vertical dots icon -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet" />

<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Add to Playlist Event Listener -->
<script>
    $(document).ready(function () {
        $(".add-to-playlist-link").click(function (event) {
            event.preventDefault();
            var videoUrl = $(this).data("video-url");
            var videoThumbnail = $(this).data("video-thumbnail");
            var videoDuration = $(this).data("video-duration");
            var videoTitle = $(this).data("video-title");
            var playlistId = $(this).data("playlist-id");


            // AJAX POST request to the API endpoint
            data = {
                "title": videoTitle,
                "url": videoUrl,
                "thumbnail": videoThumbnail,
                "duration": videoDuration,
                "playlist_id": playlistId
            }
            $.ajax({
                type: "POST",
                url: "/api/v1/playlist-item",
                contentType: "application/json",
                data: JSON.stringify(data),
                success: function (response) {
                    // Handle success
                    // alert("Video successfully added to '" + playlistName + "' playlist.");

                    // close modal
                    $('.modal').modal('hide');

                },
                error: function (xhr, status, error) {
                    // Handle error
                    var errorMessage = "Failed to add video to '" + playlistName + "' playlist.";
                    errorMessage += "\nStatus Code: " + xhr.status;
                    errorMessage += "\nStatus Text: " + xhr.statusText;
                    errorMessage += "\nResponse Text: " + xhr.responseText;
                    console.error(errorMessage);
                    alert(errorMessage);
                }
            });
        });
    });
</script>

{% endblock content %}
