{% extends "base/base.html" %}

{% block title %}Create a New Subscription{% endblock %}

{% block content_header %}Create a New Subscription{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="card">
        <div class="card-body">
            <form method="POST" onsubmit="return validateForm()">

                <!-- Subscription Handler -->
                <div class="form-group"">
                    <select class="form-control" id="subscription_handler" name="subscription_handler">
                        {% for subscription_handler in subscription_handlers %}
                        <option value="{{ subscription_handler }}">{{ subscription_handler }}</option>
                        {% endfor %}
                    </select>
                </div>

                <!-- Max Videos Per Fetch -->
                <div class="form-group my-2">
                    <label for="max_videos_per_fetch">Max Videos Per Fetch:</label>
                    <input type="text" class="form-control mb-3" id="max_videos_per_fetch" name="max_videos_per_fetch" value="50">
                </div>

                <!-- Submit -->
                <div class="d-flex justify-content-end mt-3">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>

            </form>
        </div>
    </div>
</div>


<script>
    function validateForm() {
        let subscription_handler = document.getElementById("subscription_handler").value;

        if (service_handler === "" || subscription_handler === "") {
            alert("Please enter a value for Subscription Handler.");
            return false;
        }

        return true;
    }
</script>

{% endblock content %}
