{% extends "base/base.html" %}

{% block title %}{{ subscription.title }}{% endblock %}


{% block content %}

<!-- Header -->
<div>
    <div class="row align-items-center">
        <h4 class="col-auto py-1">
            <a href="{{ subscription.url }}" class="text-decoration-none text-white">
                {{ subscription.title }}
                <span class="small mx-1"> <i class="fas fa-external-link-alt fa-sm small"></i>
                </span>
            </a>
        </h4>
        <div class="col-auto small p-1 ms-auto">
            <a href="/subscription/{{ subscription.id }}/edit" class="text-decoration-none text-muted me-3"><i
                    class="fas fa-pencil-alt me-2"></i>Edit</a>
            <a href="/subscription/{{ subscription.id }}/fetch" class="text-decoration-none text-muted me-3"><i
                    class="fas fa-arrow-circle-right me-2"></i>Fetch</a>
            <a href="#" class="text-decoration-none text-muted me-3"
                onclick="confirmDelete('/subscription/{{ subscription.id }}/delete', '{{ subscription.name }}')"><i
                    class="fas fa-trash me-2"></i>
                Delete</a>
        </div>
    </div>
</div>



<!-- Include Font Awesome for the vertical dots icon -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet" />

{% endblock content %}
