{% extends "base/base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block content_header %}Home (Authenticated){% endblock %}

{% block content %}

<div class="container my-5">
    <h1 class="text-center mb-5">Python FastAPI Stack</h1>

    <p class="lead mb-5">Python FastAPI Stack: poetry, fastapi, sqlmodel, pydantic, alembic, loguru, crud, telegram,
        jinja2</p>

    <div class="row">
        <div class="col-md-6">
            <h2 class="mb-3">Poetry</h2>
            <p class="mb-5">Poetry is a dependency management tool for Python that provides a standard format for
                packaging and
                distributing Python projects.</p>
            <a href="#" class="btn btn-primary mb-3">Learn more</a>
        </div>

        <div class="col-md-6">
            <h2 class="mb-3">FastAPI</h2>
            <p class="mb-5">FastAPI is a modern, fast (high-performance) web framework for building APIs with Python
                3.7+ based
                on standard Python type hints.</p>
            <a href="https://fastapi.tiangolo.com/" class="btn btn-primary mb-3">Learn more</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h2 class="mb-3">SQLModel</h2>
            <p class="mb-5">SQLModel is an Object-Relational Mapping (ORM) tool for Python that provides a simple way to
                interact with databases using Python code.</p>
            <a href="https://sqlmodel.tiangolo.com/" class="btn btn-primary mb-3">Learn more</a>
        </div>

        <div class="col-md-6">
            <h2 class="mb-3">Pydantic</h2>
            <p class="mb-5">Pydantic is a library for data validation and settings management in Python using Python
                type
                annotations.</p>
            <a href="#" class="btn btn-primary mb-3">Learn more</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h2 class="mb-3">Alembic migrations</h2>
            <p class="mb-5">Alembic is a lightweight database migration tool for SQLAlchemy. It provides a clear and
                concise way to manage database schema changes over time.</p>
            <a href="#" class="btn btn-primary mb-3">Learn how</a>
        </div>

        <div class="col-md-6">
            <h2 class="mb-3">Loguru</h2>
            <p class="mb-5">Loguru is a Python logging library that provides a flexible, colorful and high-performance
                logging
                system.</p>
            <a href="https://loguru.readthedocs.io/en/stable/" class="btn btn-primary mb-3">Learn more</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h2 class="mb-3">CRUD</h2>
            <p class="mb-5">CRUD is an acronym for Create, Read, Update, and Delete, which are four basic functions that
                can be
                performed on a database. This package provides a simple way to handle these functions in a Python
                application.
            </p>
            <a href="#" class="btn btn-primary mb-3">Learn more</a>
        </div>
        <div class="col-md-6">
            <h2 class="mb-3">Telegram Notifications</h2>
            <p class="mb-5">Stay informed about the status of your application with real-time notifications sent
                directly to your Telegram account with python-telegram-bot</p>
            <a href="#" class="btn btn-primary mb-3">Setup guide</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h2 class="mb-3">Jinja2</h2>
            <p class="mb-5">Jinja2 is a modern and designer-friendly templating language for Python, modelled after
                Django's
                templates. It is fast, widely used and secure with the optional sandboxed template execution
                environment.</p>
            <a href="#" class="btn btn-primary mb-3">Learn more</a>
        </div>
        <div class="col-md-6">
            <h2 class="mb-3">Thunder Client</h2>
            <p class="mb-5">Thunder Client for VSCode is a lightweight Rest Client for Testing APIs</p>
            <a href="https://github.com/rangav/thunder-client-support" class="btn btn-primary mb-3">Learn More</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h2 class="mb-3">Docker</h2>
            <p class="mb-5">Docker is an open platform for developing, shipping, and running applications. It provides a
                way to
                automate the deployment of applications inside containers, making it easier to manage and scale
                applications.
            </p>
            <a href="#" class="btn btn-primary mb-3">Learn more</a>
        </div>
        <div class="col-md-6">
            <h2 class="mb-3">Makefile</h2>
            <p class="mb-5">A Makefile is a special file that is used to control the build process of a project. It
                defines a
                set of rules that specify how files should be built and organized in a project, and provides a way to
                automate
                common build tasks and dependencies.</p>
            <a href="#" class="btn btn-primary mb-3">Learn more</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h2 class="mb-3">PyTest</h2>
            <p class="mb-5">PyTest is a popular testing framework for Python applications. It provides a simple and
                flexible way
                to write tests for functions, classes, and entire applications, and allows for easy test discovery and
                test
                reporting.</p>
            <a href="#" class="btn btn-primary mb-3">Learn more</a>
        </div>

        <div class="col-md-6">
            <h2 class="mb-3">Coverage</h2>
            <p class="mb-5">Coverage is a tool for measuring code coverage of Python programs. It determines which parts
                of the
                code have been executed during a test run and reports on the code coverage, helping to identify areas of
                the
                code that need more testing or need to be improved.</p>
            <a href="#" class="btn btn-primary mb-3">Learn more</a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h2 class="mb-3">JWT Auth</h2>
            <p class="mb-5">JWT Auth is a method of authentication that uses JSON Web Tokens (JWT) to secure the
                communication
                between a client and a server. It provides a secure and scalable way to authenticate and authorize users
                and is
                widely used in web and mobile applications.</p>
            <a href="#" class="btn btn-primary mb-3">Learn more</a>
        </div>
    </div>

</div>

{% endblock content %}
